<header>
    <nav>
        <a href="/">Whistle</a>
        <ul>
            <li><a href="/users">Who's on this site?</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/whistles">Whistles</a></li>
            <li><a href="/whistles/new">Whistle Now!</a></li>
        </ul>
    </nav>
</header>