<header>
    <nav>
        <a href="/">MiniTwitter</a>
        <ul>
            <li><a href="/users">Who's on this site?</a></li>
            <li><a href="/users/new">Register</a></li>
        </ul>
    </nav>
</header>